@{
    ViewContext.Controller.ViewBag.GroupTitle = Html.ResourceText("Competitions");
    ViewContext.Controller.ViewBag.Title = Html.ResourceText("CreateCompetitionTypeHeader");
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Create Competition Type</legend>
        <ol>
            <li>
                @Html.Label("Name")
                @Html.TextBox("Name")
            </li>
        </ol>
        <input type="submit" value="Create"/>
    </fieldset>
    

}    