@using SAMS.Models
@model IEnumerable<Simple.SAMS.Contracts.Competitions.CompetitionType>
@{
    ViewContext.Controller.ViewBag.GroupTitle = Html.ResourceText("Competitions");
    ViewContext.Controller.ViewBag.Title = Html.ResourceText("CompetitionTypes");
    ViewContext.Controller.ViewBag.MenuItems = new[]
                            {
                                new MenuItem{Text = Html.ResourceText("CompetitionsList"), Action = "Index", Controller="Competitions"},
                                new MenuItem{Text = Html.ResourceText("CompetitionTypes"), Action = "Index", Controller="CompetitionTypes"},
                                new MenuItem{Text = Html.ResourceText("Import"), Action = "Import", Controller="Competitions"},
                                new MenuItem{Text = Html.ResourceText("CreateCompetitionLink"), Action = "Create", Controller="Competitions"}
                            };    
}
<nav>
    <ul>
        <li>@Html.ActionLink(Html.ResourceText("NewCompetitionType"), "Create", "CompetitionTypes")</li>
    </ul>
</nav>

<table>
    <thead>
        <tr>
            <th class="span4">@Html.Resource("CompetitionTypeNameHeader")</th>
            <th class="span2"></th>
            <th class="span2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
                <td><a href="#">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
