<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Simple.SAMS.Competitions.Data.Properties.Settings.SimpleITASAMSConnectionString"
            connectionString="Data Source=.\SQL2012;Initial Catalog=SimpleITASAMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>