@model SAMS.Models.ResetPasswordViewModel
@{
    ViewContext.Controller.ViewBag.GroupTitle = Html.ResourceText("Admin");
    ViewContext.Controller.ViewBag.Title = Html.ResourceText("ResetPasswordTitle");
}
<h3>
@string.Format(Html.ResourceText("ResetPasswordCompleted"), Model.Username, Model.NewPassword)
</h3>
<hr class="space"/>

@Html.ActionLink(Html.ResourceText("ManageUsers"), "Users")
