body.rtl
{
    direction: rtl;
    font-family: arial, sans-serif;
}

.ltr
{
    direction: ltr;
}

h1
{
    font-size: 28pt;
    font-weight: normal;
    margin-bottom: 12px;
}

h2
{
    font-size: 24pt;
    font-weight: normal;
    color: #666;
}

hr.space
{
    height: 1em;
    border: none;
}

tr
{
    line-height: 22px;
}

td.modifiedRecently
{
    color: blue;
    font-weight: bold;
}

thead
{
    border-bottom: solid 1px #333;
}

.content
{
    margin-bottom: 40px;
}

footer
{
    background-color: #444;
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
    color: white;
}

    footer p
    {
        line-height: 40px;
        font-size: 24px;
    }
 .item.alternate
{
    background-color: #EAEAEA;
}

.table td {
    padding: 4px;
}

.stretch,
input[type=submit].stretch,
button.stretch
{
    display: block;
    width: 100%;
}

[class*="span"]
{
    zoom: 1;
    min-height: 1px;
}

.subheader
{
    margin-top: 48px;
    /*
    min-height: 40px;
    background-image: url(../Images/ita-small.png);
    background-position: left top;
    background-repeat: no-repeat;*/
}

    .subheader .nav
    {
        margin-bottom: 4px;
    }

.navbar-inner
{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #45AEEA;
    background-image: -moz-linear-gradient(top, #54B4EB, #2FA4E7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#54B4EB), to(#2FA4E7));
    background-image: -webkit-linear-gradient(top, #54B4EB, #2FA4E7);
    background-image: -o-linear-gradient(top, #54B4EB, #2FA4E7);
    background-image: linear-gradient(to bottom, #54B4EB, #2FA4E7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff2fa4e7', GradientType=0);
    border: 1px solid #1684C2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar .nav > li > a
{
    color: white;
}

    .navbar .nav > li > a:focus, .navbar .nav > li > a:hover
    {
        background-color: rgba(0, 0, 0, 0.2);
        color: #ffffff;
        text-decoration: none;
    }

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus
{
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

label.valid
{
    width: 24px;
    height: 24px;
    background: url(assets/img/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}

label.error
{
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

/* bootstrap rtl fixes*/
.input-append .add-on, .input-append .btn
{
    margin-right: -5px;
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
}

.input-append input, .input-append select .uneditable-input
{
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0px 3px 3px 0px;
}

[class^="icon-"], [class*=" icon-"]
{
    background-image: url("../Images/glyphicons-halflings.png");
}

.apiHelpContent
{
    direction: ltr;
}

pre.wrapped
{
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
}

.warning-message-container
{
    margin-top: 20px;
    padding: 0 .7em;
}

.warning-message-icon
{
    float: left;
    margin-right: .3em;
}

input[type=text].error
{
    background-color: pink;
    border-color: red;
}

thead tr
{
    vertical-align: bottom;
}


table, .constrainInput select, 
.constrainInput input[type=text],
.constrainInput input[type=password] 
{
    width: 100%;
} 

.headerLogo {
    height: 40px;
    width: 60px;
    margin-left: 4px;
    background-color: whitesmoke;
    background-image: url(../Images/ita-small.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.nav h1 {
    margin: 0px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    color: white;
}

table.sortable th[data-sort-type] {
    cursor: pointer;
}

table.sortable thead tr th.headerSortUp,
table.sortable thead tr th.headerSortDown {
    background-position: center left;
    background-repeat: no-repeat;    
}

table.sortable thead tr .headerSortUp {
	background-image: url(../Images/asc.gif);
}
table.sortable thead tr .headerSortDown {
	background-image: url(../Images/desc.gif);
}

.rtl .ui-dialog .ui-dialog-title
{
	float: right;
	margin: .1em 0 .1em 16px;
}

.rtl .ui-dialog .ui-dialog-titlebar-close
{
	right: auto;
	left: .3em;
}

.rtl .ui-dialog .ui-dialog-titlebar
{
	padding: .4em 1em;
	position: relative;
}

.rtl .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset
{
	float: left;
}

.notification {
    background-color: lightgoldenrodyellow;
    background-color: #FFFFEE;
    border: solid 1px black;
    border-radius: 8px;
    padding: 4px;
}

.notification h3 {
    border-bottom: solid 1px #333;
}

.lastSaved {
    text-align: right;
}

.rtl .lastSaved {
    text-align: left;
}

.dl-horizontal dt {
    width: 40%;
}
.dl-horizontal dd {
    margin-right: 41%;
}

.dl-horizontal dt,
.dl-horizontal dd {
    line-height: 24px;    
}

.dl-horizontal dd.sep,
.dl-horizontal dt.sep {
    border-bottom: solid 1px #069;
    margin-bottom: 4px;
}

.playerstatus_disqualified,
.playerstatus_retired,
.playerstatus_removed {
    color: red;
}