.t-host
{
    width: 1024px;
    /*width: 6000px;*/
    height: 640px;
    overflow: auto;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
    /*background-image: url(@Url.Content("~/Images/grey-grid20x20.png"));*/

}

.t-print
{
    font-family: Arial, sans-serif;
}
.rtl {
    direction: rtl;
}

.t-print .t-host {
    overflow: visible;
}

.t-container
{
    height: 1440px;
    width: 1240px;
}

.t-host.t-32p .t-container
{
    height: 800px;
    width: 1000px;
}
.t-host.t-8p .t-container {
    height: 320px;
    width: 960px;
}
.t-host.t-16p .t-container {
    height: 640px;
    width: 1140px;
}
.t-host.t-32p .r0,
.t-host.t-16p .r0,
.t-host.t-16p .r1,
.t-host.t-8p .r0,
.t-host.t-8p .r1,
.t-host.t-8p .r2
{
    display: none;
}

.t-round, .t-sep
{
    float: right;
    width: 180px;
    overflow: hidden;
}

.t-sep
{
    margin-top: 2em;
    width: 20px;
}

.t-msep
{
    position: relative;
}

.t-msep-right
{
    height: 100%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    width: 9px;
    float: right;
    border-radius: 8px 0 0 8px;
}

.t-msep-left
{
    height: 1px;
    font-size: 1px;
    background-color: black;
    width: 10px;
    float: left;
}

.t-match
{
    background-color: #B8D0E8;
    height: 48px;
    margin-bottom: 10px;
    border-radius: 8px;
    /*padding-left: 2px;
    padding-right: 2px;*/
    font-size: 10pt;
    font-size: 8pt;
    line-height: 22px;

}

    .t-match .t-players.t-group
    {
        line-height: 14px;
   /*     font-size: 8pt;*/
    }
    

.t-team
{
    height: 24px;
    padding-left: 2px;
    padding-right: 2px;
}


.t-score
{
    float: right;
    /*width: 60px;*/
    text-align: center;
    text-overflow: clip;
    
}

.t-players
{
    width: 98px;
    float: right;
}

.t-team:last-child
{
    border-top: solid 1px #DDD;
}

.t-icon
{
    float: right;
    width: 16px;
    height: 20px;
    margin-top: 2px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
}

    .t-icon.winner
    {
        background-image: url(../Images/winner.png);
    }

.t-match a,
.t-match a:active,
.t-match a:visited
{
    color: black;
}

    .t-match a:hover
    {
        color: blue;
        text-decoration: underline;
    }


.t-print .t-match a,
.t-print .t-match a:active,
.t-print .t-match a:visited,
.t-print .t-match a:hover {
    color: black;
    text-decoration: none;
}

.t-print  .t-match {
    background-color: white;
    border: solid 1px black;
}

.t-stats {
    cursor: pointer;
    background-image: url(../Images/stats.png);
    float:left;
}

.t-scorecard {
    cursor: pointer;
    background-image: url(../Images/scorecard.png);
    float:left;
}


/* Positioning */
.r0 .t-msep,
.t-32p .r1 .t-msep,
.t-16p .r2 .t-msep,
.t-8p .r3 .t-msep
{
    height: 58px;
}

.r1 .t-msep,
.t-32p .r2 .t-msep,
.t-16p .r3 .t-msep,
.t-8p .r4 .t-msep
{
    height: 116px;
}

.r2 .t-msep ,
.t-32p .r3 .t-msep,
.t-16p .r4 .t-msep
{
    height: 232px;
}

.r3 .t-msep,
 .t-32p .r4 .t-msep
{
    height: 464px;
}

.r4 .t-msep
{
    height: 928px;
}

.r0 .t-msep-left,
.t-32p .r1 .t-msep-left,
.t-16p .r2 .t-msep-left,
.t-8p .r3 .t-msep-left
{
    margin-top: 29px;
}

.r1 .t-msep-left,
.t-32p .r2 .t-msep-left,
.t-16p .r3 .t-msep-left,
.t-8p .r4 .t-msep-left
{
    margin-top: 58px;
}

.r2 .t-msep-left,
.t-32p .r3 .t-msep-left,
.t-16p .r4 .t-msep-left
{
    margin-top: 116px;
}

.r3 .t-msep-left,
.t-32p .r4 .t-msep-left
{
    margin-top: 232px;
}

.r4 .t-msep-left
{
    margin-top: 464px;
}

.r0 .t-msep,
.t-32p .r1 .t-msep,
.t-16p .r2 .t-msep,
.t-8p .r3 .t-msep
{
    margin-top: 58px;
}

.r1 .t-msep,
.t-32p .r2 .t-msep,
.t-16p .r3 .t-msep,
.t-8p .r4 .t-msep
{
    margin-top: 116px;
}

.r2 .t-msep,
.t-32p .r3 .t-msep,
.t-16p .r4 .t-msep
{
    margin-top: 232px;
}

.r3 .t-msep,
.t-32p .r4 .t-msep
{
    margin-top: 464px;
}
/*
.r4 .t-msep
{
    margin-top: 928px;
    margin-top: 879px;
}
    */
.r0 .t-msep:first-child,
.t-32p .r1 .t-msep:first-child,
.t-16p .r2 .t-msep:first-child,
.t-8p .r3 .t-msep:first-child
{
    margin-top: 24px;
}


.r1 .t-msep:first-child,
.t-32p .r2 .t-msep:first-child,
.t-16p .r3 .t-msep:first-child,
.t-8p .r4 .t-msep:first-child
{
    margin-top: 53px;
}

.r2 .t-msep:first-child,
.t-32p .r3 .t-msep:first-child,
.t-16p .r4 .t-msep:first-child
{
    margin-top: 111px;
}


.r3 .t-msep:first-child,
.t-32p .r4 .t-msep:first-child
{
    margin-top: 227px;
}

.r4 .t-msep:first-child {
    margin-top: 458px;
}

/* Matches */
.t-32p .r1 .t-match,
.t-16p .r2 .t-match,
.t-8p .r3 .t-match {
    margin-top: 0;
}

.r1 .t-match,
.t-32p .r2 .t-match,
.t-16p .r3 .t-match,
.t-8p .r4 .t-match
{
    margin-top: 68px;
}

.r1 .m1,
.t-32p .r2 .m1,
.t-16p .r3 .m1,
.t-8p .r4 .m1
{
    margin-top: 29px;
}

.t-32p .r1 .m1, 
.t-16p .r2 .m1, 
.t-8p .r3 .m1
{
    margin-top: 0;
}

.r5 .m1
{
    margin-top: 896px;
}

.r2 .t-match,
.t-32p .r3 .t-match,
.t-16p .r4 .t-match
{
    margin-top: 183px;
}

.r2 .m1,
.t-32p .r3 .m1,
.t-16p .r4 .m1,
.t-8p .r5 .m1
{
    margin-top: 87px;
}

.r3 .t-match,
.t-32p .r4 .t-match
{
    margin-top: 418px;
}

.r4 .t-match
{
    margin-top: 879px;
}

.r3 .m1,
.t-32p .r4 .m1,
.t-16p .r5 .m1
{
    margin-top: 200px;
}

.r4 .m1,
.t-32p .r5 .m1
{
    margin-top: 434px;
}
