.updateResultsMatches{
    position: relative;
    max-height: 512px;
    overflow: auto;
    border-top: solid 1px #DDD;
    margin-top: 4px;
}
.setScore {
    width: 16px;
}

tr.edit-mode td,
.table tbody tr.edit-mode:hover td, 
.table tbody tr.edit-mode:hover th {
background-color: lightyellow;
}

td.status .statusIndicator
{
    display: block;
    width: 24px;
    height: 24px;
    margin: 4px;
    margin-left: auto;
    margin-right: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../Images/edit.png);
    background-image: url(../Images/ajax-loader.gif);
    background-image: url(../Images/waiting.png);
    background-image: url(../Images/ok.png);
}

tr.edit-mode td.status .statusIndicator{
    background-image: url(../Images/edit.png);
}

tr.waiting td.status .statusIndicator{
    background-image: url(../Images/waiting.png);
}

tr.sending td.status .statusIndicator{
    background-image: url(../Images/ajax-loader.gif);
}

tr.success td.status .statusIndicator
{
    background-image: url(../Images/ok.png);
}
.startTimeSelect {
    width: 52px;
    direction: rtl;   
}
.matchResultSelect,
.matchWinnerSelect {
    width: 100px;    
}

.matchPlayerName {
    font-size: 12pt;
    line-height: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.startTimeContainer {
    direction: ltr;
    display: inline-block;
}