@model SAMS.Models.CompetitionDetailsModel
@{
    
    ViewContext.Controller.ViewBag.GroupTitle = Html.ResourceText("CompetitionDetails");
        
}


<h2>@Model.Name</h2>
<i>@Model.StartTime.ToShortDateString()</i>
