<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File"
        layout="${longdate} ${logger}|${level}| ${message}"
        fileName="${basedir}/logs/SAMS.log.txt"
        archiveFileName="${basedir}/logs/archives/SAMS.log.{#####}.txt"
        archiveAboveSize="1000000"
        archiveNumbering="Sequence"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="utf-8" />

    <target name="eventlog"
        xsi:type="EventLog"
        layout="${longdate} ${logger}|${level}| ${message}"
        source="SAMS"
        log="SAMS"/>
  </targets>

  <rules>
    <logger name="*" writeTo="file" />
    <logger name="*" writeTo="eventLog" minLevel="Error"/>
  </rules>
</nlog>